* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.side-menu {
  padding: 36px 28px 76px 28px;
  width: 306px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  background-color: brown;
}

.header__icon {
  width: 37px;
  height: 37px;

  margin-right: 8px;
}

.header__title {
  font-weight: 600;
  font-size: 26px;

  margin-right: 4px;
}

.header__title-version {
  font-weight: 500;
  font-size: 10px;

  color: #838383;
}

.side-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 64px;
}

.header__icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.items-list__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 250px;
  height: 46px;
  padding: 11px 8px 11px 11px;

  border-radius: 8px;
}

.items-list__wrapper:hover {
  background-color: #5932ea;
  color: white;
}

.items-list__wrapper:hover .items-list__text {
  color: white;
}

.items-list__wrapper:hover .items-list__icon {
  fill: white;
  stroke: white;
}

.items-list__wrapper:hover .items-list__arrow {
  fill: white;
  stroke: white;
}

.items-list__icon {
  width: 24px;
  height: 24px;

  margin-right: 14px;

  fill: currentColor;
}

.items-list__text {
  font-size: 14px;
  font-weight: 500;

  color: #9197b3;
}

.items-list__item {
  margin-bottom: 29px;
}

.items-list__arrow {
  width: 16px;
  height: 16px;

  margin-left: auto;

  fill: currentColor;
}

.side-menu__footer {
  display: flex;
  flex-direction: row;

  margin-top: auto;
}

.footer__img {
  margin-right: 12px;
}

.footer__description-name {
  font-size: 14px;
  font-weight: 500;

  color: black;
}

.footer__description-job {
  font-size: 12px;
  font-weight: 400;

  color: #9197b3;
}
