* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.side-menu {
  padding: 36px 28px 76px 28px;
  max-width: 306px;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header__icon {
  width: 37px;
  height: 37px;

  margin-right: 8px;
}

.header__title {
  font-weight: 600;
  font-size: 26px;

  margin-right: 4px;

  letter-spacing: 0.01em;
}

.header__title-version {
  font-weight: 500;
  font-size: 10px;

  color: #838383;

  letter-spacing: -0.01em;
}

.side-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 64px;
}

.header__icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.items-list__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 250px;
  height: 46px;
  padding: 11px 8px 11px 11px;

  border-radius: 8px;
}

.items-list__wrapper:hover {
  background-color: #5932ea;
  color: white;

  cursor: pointer;
}

.items-list__wrapper:hover .items-list__text {
  color: white;
}

.items-list__wrapper:hover .items-list__icon {
  fill: white;
  stroke: white;
}

.items-list__wrapper:hover .items-list__arrow {
  stroke: white;
}

.items-list__icon {
  width: 24px;
  height: 24px;

  margin-right: 14px;

  fill: currentColor;
}

.items-list__text {
  font-size: 14px;
  font-weight: 500;

  color: #9197b3;

  letter-spacing: -0.01em;
}

.items-list__item {
  margin-bottom: 29px;
}

.items-list__arrow {
  width: 16px;
  height: 16px;

  margin-left: auto;

  fill: currentColor;
}

.side-menu__footer {
  display: flex;
  flex-direction: row;

  margin-top: auto;
}

.footer__img {
  margin-right: 12px;
}

.footer__description-name {
  font-size: 14px;
  font-weight: 500;

  color: black;

  letter-spacing: 0.01em;
}

.footer__description-job {
  font-size: 12px;
  font-weight: 400;

  color: #9197b3;

  letter-spacing: 0.01em;
}

.main {
  background-color: #fafbff;

  width: 100vw;
  height: 100vh;
}

.main__wrapper {
  padding: 41px 95px 258px 71px;
}

.main__title {
  font-weight: 500;
  font-style: normal;

  margin-bottom: 51px;
}

.main__dashboard__wrapper {
  padding: 30px 40px;

  background-color: white;

  border-radius: 30px;
}

.main__dashboard__wrapper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;
  padding-right: 13px;
}

.main__dashboard__wrapper-header__text {
  font-size: 22px;
  font-weight: 600;

  letter-spacing: -0.01em;
}

.main__dashboard__wrapper-header__description {
  font-size: 14px;
  font-weight: 400;

  color: #16c098;
  letter-spacing: -0.01em;
}

.main__dashboard__wrapper-header-container {
  display: flex;
  flex-direction: column;
}
.main__dashboard__wrapper-header__input {
  background-color: #f9fbff;
  border-radius: 12px;

  width: 216px;
  height: 38px;

  padding: 7px 8px;

  display: flex;
  flex-direction: row;
}

input {
  border: none;
  outline: none;
  background: none;

  color: #b5b7c0;
}

input::placeholder {
  color: #b5b7c0;

  font-size: 14px;
  font-weight: 400;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: left;
  padding: 20px 0;

  letter-spacing: -0.01em;
}

.table thead {
  border-bottom: 1px solid #eeeeee;
}

.table th {
  font-weight: 500;
  font-size: 14px;
  color: #b5b7c0;

  text-align: left;
  padding: 14px 0;
}

.table tbody tr {
  border-bottom: 1px solid #eeeeee;
}

.table tbody tr:hover {
  background-color: #f9fbff;
}

.table tbody td {
  color: #292d32;
  font-weight: 500;
  font-size: 14px;
}

th:last-child {
  padding-left: 16px;
}

.status {
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 29px;
}

.status.active {
  background-color: #def7ec;
  border: 1px solid #00b087;
  color: #00b087;
}

.status.inactive {
  background-color: #ffc5c5;
  color: #df0404;
  border: 1px solid #df0404;
}

.main__dashboard-pagination {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
}

button {
  cursor: pointer;
  width: 25px;
  height: 25px;

  color: #404b52;
  background-color: #f5f5f5;

  border: 1px solid #eeeeee;
  border-radius: 4px;

  font-weight: 500;
  font-size: 12px;

  letter-spacing: -0.01em;

  margin-right: 12px;
}

button:hover {
  background-color: #5932ea;
  color: #ffffff;
}

div button:last-of-type {
  margin-right: 0;
}

.right-margin {
  margin-right: 12px;
}

.dashboard-pagination__text {
  font-weight: 500;
  font-size: 14px;
  color: #b5b7c0;
}
